* {
    padding: 0;
    margin: 0;
}
.body_wrap {
    width: 500px;
    margin: 50px auto;
}
.login_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
    height: 120px;
}
input {
    border: 1px solid #ddd;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    padding: 0 20px;
}
button {
    outline: none;
    border: 1px solid lightseagreen;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    cursor: pointer;
    background: lightseagreen;
    color: #fff;
}
.counting_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.counting_box p {
    width: 50px;
    text-align: center;
}
.counting_box button {
    width: 100px;
    background: #fff;
    color: lightseagreen;
}
